* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button {
  outline: none !important;
  border: none;
}

.container {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .container {
    padding: 5px;
  }
}

main section .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}
@media (max-width: 450px) {
  main section .wrapper {
    margin-top: 0;
  }
}
main section .wrapper .left {
  width: 420px;
  height: 650px;
  background-image: url(../images/bg.png);
  background-size: 468.32px 634.15px;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
@media (max-width: 875px) {
  main section .wrapper .left {
    display: none;
  }
}
main section .wrapper .left__screenshot {
  width: 250px;
  height: 538.84px;
  position: absolute;
  right: 60px;
  top: 35px;
  background-image: url("../images/screenshot1-2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: scrAnimate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-play-state: running;
}
main section .wrapper .left img {
  width: 250px;
  height: 538.84px;
  position: absolute;
  right: 60px;
  top: 35px;
}
main section .wrapper .right {
  width: 50%;
  max-width: 350px;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
@media (max-width: 875px) {
  main section .wrapper .right {
    width: 350px;
    min-width: 0;
  }
}
@media (max-width: 450px) {
  main section .wrapper .right {
    margin-top: 0;
  }
}
main section .wrapper .right__wrapper {
  display: flex;
  justify-content: start;
  border: 1px solid rgb(219, 219, 219);
  align-items: center;
  flex-direction: column;
  margin: 0 0 10px;
  padding: 10px 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 450px) {
  main section .wrapper .right__wrapper {
    border: none;
    padding: 20px;
    padding-top: 0;
  }
}
main section .wrapper .right__wrapper img {
  width: 175px;
  height: 51px;
  margin-top: 36px;
  margin-bottom: 12px;
}
main section .wrapper .right__wrapper-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
main section .wrapper .right__wrapper-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main section .wrapper .right__wrapper-form form button {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 8px;
  padding: 7px 16px !important;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(0, 149, 246);
  color: white;
  cursor: pointer;
}
main section .wrapper .right__wrapper-form form button:not(:disabled):hover {
  background-color: #1877f2;
}
main section .wrapper .right__wrapper-form form button:disabled {
  opacity: 0.7;
  cursor: auto;
}
main section .wrapper .right__wrapper-form form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 6px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  height: 38px;
  cursor: text;
}
main section .wrapper .right__wrapper-form form div label {
  width: 100%;
  height: 36px;
  position: relative;
  display: flex;
  flex: 1 0 0px;
}
main section .wrapper .right__wrapper-form form div label.typed span {
  height: 19px;
  transform: scale(0.8333333333) translateY(-10px) !important;
}
main section .wrapper .right__wrapper-form form div label.typed input {
  padding: 14px 0 2px 8px !important;
}
main section .wrapper .right__wrapper-form form div label span {
  font-size: 12px;
  top: 0;
  white-space: nowrap;
  position: absolute;
  left: 8px;
  right: 0;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  color: rgb(115, 115, 115);
  text-overflow: ellipsis;
  transform-origin: left;
  transition: transform ease-out 0.1s;
  -webkit-user-select: none !important;
  vertical-align: baseline;
  cursor: text;
}
main section .wrapper .right__wrapper-form form div label input {
  width: 100%;
  background-color: transparent;
  background-color: rgb(250, 250, 250);
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
main section .wrapper .right__wrapper-form form div label:last-child h5 {
  position: absolute;
  padding-right: 8px;
  right: 0;
  height: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 36px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
}
main section .wrapper .right__wrapper-separate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px 18px;
}
main section .wrapper .right__wrapper-separate h1 {
  margin-right: 18px;
  margin-left: 18px;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #737373;
}
main section .wrapper .right__wrapper-separate span {
  background-color: rgb(219, 219, 219);
  height: 1px;
  width: 50%;
}
main section .wrapper .right__wrapper-facebook {
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  cursor: pointer;
}
main section .wrapper .right__wrapper-facebook i {
  color: #385185;
}
main section .wrapper .right__wrapper-facebook p {
  color: #385185;
  font-weight: 600;
}
main section .wrapper .right__wrapper .forgotPass {
  margin-top: 12px;
  font-size: 12px;
  color: rgb(0, 55, 107);
  touch-action: manipulation;
  cursor: pointer;
}
main section .wrapper .right__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 450px) {
  main section .wrapper .right__bottom {
    gap: 1.25rem;
  }
}
main section .wrapper .right__bottom-reg {
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  margin: 0 0 10px;
  padding: 10px 0;
  text-align: center;
}
@media (max-width: 450px) {
  main section .wrapper .right__bottom-reg {
    border: none;
  }
}
main section .wrapper .right__bottom-reg p {
  margin: 15px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
main section .wrapper .right__bottom-reg p a {
  color: rgb(0, 149, 246);
}
main section .wrapper .right__bottom-getapp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 28px;
}
main section .wrapper .right__bottom-getapp .app-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
main section .wrapper .right__bottom-getapp .app-links a img {
  width: 136px;
  height: 40px;
  cursor: pointer;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
}
@media (max-width: 450px) {
  footer {
    margin-bottom: 52px !important;
  }
}
footer .footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__wrapper ul {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
footer .footer__wrapper ul:last-child {
  margin-bottom: 12px;
  margin-top: 12px;
}
footer .footer__wrapper ul li {
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  cursor: pointer;
}
footer .footer__wrapper ul li a {
  color: #737373;
}
footer .footer__wrapper ul li a:hover {
  border-bottom: 1px solid #737373;
}

@keyframes scrAnimate {
  0% {
    background-image: url("../images/screenshot1-2x.png");
  }
  25% {
    background-image: url("../images/screenshot2-2x.png");
  }
  50% {
    background-image: url("../images/screenshot3-2x.png");
  }
  75% {
    background-image: url("../images/screenshot4-2x.png");
  }
  100% {
    background-image: url("../images/screenshot1-2x.png");
  }
}